<html>

<head>
<style>
.section {

	color: blue;
	font-family: arial;
}

.another {
	
	color: red;
	font-family: arial;

}

.another2 {

	color: DarkOrchid;
	font-family: arial;

}
.titre{

	

}
body {
	
	background-color: lightblue;
	font-family: arial;
}
div{
	margin-left: 30px;
	font-size: 30px;
	font-weight: 900;
	font-variant: normal;
	font-style: oblique;
}
H1 {
	color :red;
}

img{     	
	    display: block;
	    margin-left: auto;
    		margin-right: auto;
    width: 50%;
float: right;
clear: left;

}

.bouton{

    background-color: #FFD700; /* Green */
    border: 2px solid #4CAF50;
    color: #FF00FF;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}
.bouton:hover{
    background-color: #4CAF50; /* Green */
    color: white;

}
.bouton:active{
    background-color: red;

}

.gauche{
	float: left;


}


</style>

<title>AVENGER INFINTY WAR</title>
{% load staticfiles %}
</head>
<body>

<H1 class="section">AVENGER INFINITY WAR</H1>
<H2 class="another">  Part 1</H2>
<div>There was an idea... </div>
<div>To bring together, a group of remarkable people...</div>
<div>To see if we could become something more... </div>
<div> so when they needed us, we could fight the battles... </div>
<div>That they never could </div>

<div><a class="bouton" href="https://www.youtube.com/watch?v=6ZfuNTqbHE8">bande d'annonce</a></div>
<H2 class="another2">Entête H2</H2>
<img src="https://www.sideshowtoy.com/wp-content/uploads/2018/04/marvel-avengers-infinity-war-thanos-sixth-scale-figure-hot-toys-feature-903429-1.jpg" alt="Paris" width="300" height="300">
<img src= "{% static "pic.jpeg" %}" alt= "picture"/>


</body>
</html>

