

<!DOCTYPE html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>|-.-|</title>
<style>
.button {

    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;

}
.button:hover {
    background-color: green;
}

body { text-align: center;}

</style>
</head>
  <style>
    body { background-color: white; }
  </style>

</head>
  <body> 
    <h2> PhotoBOOM!!!</h2>
    <img src = "http://www.davidmelamed.com/wp-content/uploads/2014/01/new.jpg" width"130" height="101" />
    {% load staticfiles %}  
    <img src= "/static/pic.jpeg"}"alt="My image" /> 
 <div id="sse">
         <a href="clicker">cliquer</a>
       </div>  
<br>
<br/>

<!--<a href="Camera">click </a>-->

<!-- <button onclick="myFunction()">Click me</button> -->


</body> </html>


